In [111]:
# Phân tích mô tả
'''
- Đại lượng đo lường tập trung
    1. Min, max
    2. Mean (Ảnh hưởng bởi các giá trị bất thường)
    3. Median (Không bị ảnh hưởng bởi giá trị bất thường)
    4. Mode: Yếu vị là giá trị có số lần xuất hiện nhiều nhất trong không gian mẫu
    5. Phân vị P -> Thường dùng tứ phân vị và thập phân vị
'''

'\n- Đại lượng đo lường tập trung\n    1. Min, max\n    2. Mean (Ảnh hưởng bởi các giá trị bất thường)\n    3. Median (Không bị ảnh hưởng bởi giá trị bất thường)\n    4. Mode: Yếu vị là giá trị có số lần xuất hiện nhiều nhất trong không gian mẫu\n    5. Phân vị P -> Thường dùng tứ phân vị và thập phân vị\n'

In [112]:
import pandas as pd
import seaborn as sns
df = pd.read_csv('dulieuxettuyendaihoc.csv', header=0, delimiter=',', encoding='utf-8')
# Đổi tên cột
df.rename(columns={'TOANLOGICPHANTICH': 'LOGIC', 'GIAIQUYETVANDE': 'UNGXU', 'DINH HUONG NGHE NGHIEP': 'HUONGNGHIEP'}, inplace=True)
df

,MSSV,T1,T2,T3,T4,T5,T6,GT,DT,KV,NGONNGU,LOGIC,UNGXU,KT,NGAYTHI,DINHHUONGNGHENGHIEP
0,SV001,7.2,8.4,7.4,7.2,7.4,6.9,F,NaN,2NT,3.25,3.25,4.50,A1,12/7/2018,No
1,SV002,5.4,6.3,4.3,4.9,3.0,4.0,M,NaN,1,6.00,4.00,3.50,C,12/7/2018,Yes
2,SV003,5.6,5.0,2.8,6.1,4.8,5.7,M,NaN,1,5.00,6.75,4.00,C,12/7/2018,No
3,SV004,6.6,5.1,5.9,4.1,6.1,7.4,M,NaN,1,4.25,4.25,5.25,D1,12/7/2018,No
4,SV005,6.0,5.4,7.6,4.4,6.8,8.0,M,NaN,2NT,4.25,4.50,5.00,A,12/7/2018,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,SV0096,8.6,8.9,7.7,6.7,7.9,6.6,F,NaN,1,5.25,1.50,6.25,C,7/20/2022,Yes
96,SV0097,3.7,4.1,3.1,3.4,5.5,5.7,F,NaN,1,5.25,3.75,4.75,C,7/20/2022,No
97,SV0098,8.8,9.5,9.5,8.5,9.0,8.5,M,NaN,2NT,7.00,8.00,4.00,C,7/20/2022,Yes
98,SV0099,2.7,2.8,6.2,5.2,4.1,4.3,M,NaN,1,5.00,3.50,5.50,C,7/20/2022,No
99,SV00100,4.1,4.4,6.0,4.3,5.6,5.1,M,NaN,2NT,5.25,2.50,4.25,C,7/20/2022,Yes

In [113]:
print(f"{df['NGONNGU'].min()} \n {df['NGONNGU'].max()} \n")
print(f"{df['NGONNGU'].mean()} \n {df['NGONNGU'].median()} \n")
print(f"{df['NGONNGU'].mode()} \n")
print(f"{df['NGONNGU'].quantile(0.25)} \n")

1.0
 7.0

3.74
 3.625

0    2.0
Name: NGONNGU, dtype: float64

2.5

In [114]:
# Đo lượng mức độ phân tán
'''
    - Biến động cao -> :
        + Sự ổn định thấp
        + Khó đưa ra quyết định
    - Các đại lượng đo lường biến động
        1. Range = max - min
        2. IQR = Q3 - Q1
        3. Độ lệch trung bình: (D gạch đầu) = Tổng xích ma |Xi - X_trung bình| / N
        4. Phương sai = bình phương độ lệch chuẩn
        5. Độ lệch chuẩn
'''

'\n    - Biến động cao -> :\n        + Sự ổn định thấp\n        + Khó đưa ra quyết định\n    - Các đại lượng đo lường biến động\n        1. Range = max - min\n        2. IQR = Q3 - Q1\n        3. Độ lệch trung bình: (D gạch đầu) = Tổng xích ma |Xi - X_trung bình| / N\n        4. Phương sai = bình phương độ lệch chuẩn\n        5. Độ lệch chuẩn\n'

In [115]:
# Các đại lượng đo lường độ biến động
# range
df['NGONNGU'].max() - df['NGONNGU'].min()

6.0

In [116]:
# IQR = Q3 - Q1
df['NGONNGU'].quantile(0.75) - df['NGONNGU'].quantile(0.25)

2.25

In [117]:
# Độ lệch trung bình
import numpy as np
np.mean(np.abs(df['NGONNGU'] - np.mean(df['NGONNGU'])))

1.1600000000000001

In [118]:
# bài tập
# hãy tính phân vị thứ 9 trong thập phân vị (gọi là p9)
# cho T5 và T6
# Hãy tính khoảng range cho T5 và T6
df[['T5', 'T6']].max() - df[['T5', 'T6']].min()
# Hãy tính khoảng IQR cho T5 và T6
df[['T5', 'T6']].quantile(0.75) - df[['T5', 'T6']].quantile(0.25)
# Tính độ lệch trung bình cho T5 và T6
np.mean(np.abs(df[['T5', 'T6']] - np.mean(df[['T5', 'T6']])))

1.14492

In [119]:
# Phương sai (Var)
df['NGONNGU'].var()

2.0289393939393943

In [120]:
#Phương sai (std)
df['NGONNGU'].std()

1.424408436488423

In [121]:
# Phương pháp sử dụng std để so sánh
# Mức độ biến động của hai hay nhiều biến số
# Ví dụ: Hãy so sánh mức độ ổn định của T5 và T6
print(df[['T5', 'T6']].mean())
print(df[['T5', 'T6']].std())
# Lưu ý: Cần đảm bảo T5, T6 cùng hệ quy chiếu (độ đo đơn vị so sánh)
# Giá trị trung bình T5 và T6 xấp xỉ nhau

T5    6.717
T6    6.937
dtype: float64
T5    1.478059
T6    1.363200
dtype: float64

In [128]:
# Phương pháp dùng Cofficient of variance (CV) để
# Mức độ biến động của hai hay nhiều biến ố
# hãy so sánh mức độ biến động của LOGIC và NGONNGU
cv = df[['LOGIC', 'NGONNGU', 'UNGXU']].std() / df[['LOGIC', 'NGONNGU', 'UNGXU']].mean()
list(cv)

[0.2491311130540305, 0.3808578707188297, 0.2135664058628459]

In [123]:
# Mô tả biến định lượng
df['NGONNGU'].describe()

count    100.000000
mean       3.740000
std        1.424408
min        1.000000
25%        2.500000
50%        3.625000
75%        4.750000
max        7.000000
Name: NGONNGU, dtype: float64

In [124]:
df[['NGONNGU', 'LOGIC', 'UNGXU']].describe()
# So sánh mức độ ổn định của điểm số
# trong kì thi đánh gái năng lực
# Hãy sắp xếp tăng đần mức độ ổn định trong 3 cột điểm
# Gọi ý: Hướng dẫn giá trị CV(cofficient of variant)

          NGONNGU       LOGIC       UNGXU
count  100.000000  100.000000  100.000000
mean     3.740000    4.255000    4.875000
std      1.424408    1.060053    1.041136
min      1.000000    1.500000    2.750000
25%      2.500000    3.500000    4.250000
50%      3.625000    4.125000    4.750000
75%      4.750000    4.750000    5.500000
max      7.000000    8.000000    8.000000

In [125]:
df.groupby('GT')['NGONNGU'].describe()
# Đánh giá xem nhóm giới tính nào học ngôn ngữ tốt hơn

    count      mean       std   min     25%   50%  75%  max
GT
F    48.0  3.854167  1.348594  1.25  3.1875  3.75  5.0  7.0
M    52.0  3.634615  1.496288  1.00  2.4375  3.50  4.5  7.0

In [126]:
# Sinh viên có giới tính nam thì thi môn nào tôt hơn so với nữ
df.groupby('GT')[['T1', 'T2', 'T3']].describe()

      T1                                                     T2            \
   count      mean       std  min    25%  50%    75%  max count      mean
GT
F   48.0  6.187500  1.612006  2.4  5.175  6.2  7.300  8.8  48.0  6.614583
M   52.0  5.723077  1.587774  2.5  4.850  5.6  6.525  9.3  52.0  6.151923

    ...                T3
    ...    75%  max count      mean       std  min   25%  50%    75%  max
GT  ...
F   ...  7.925  9.2  48.0  6.518750  1.545846  2.3  5.45  6.8  7.525  9.3
M   ...  6.975  9.6  52.0  6.257692  1.605181  2.5  5.10  6.4  7.400  9.5

[2 rows x 24 columns]