In [17]:
import pandas as pd
import seaborn as sns
df = pd.read_csv('dulieuxettuyendaihoc.csv', header=0, delimiter=',', encoding='utf-8')
# Đổi tên cột
df.rename(columns={'TOANLOGICPHANTICH': 'LOGIC', 'GIAIQUYETVANDE': 'UNGXU', 'DINHHUONGNGHENGHIEP': 'HUONGNGHIEP'}, inplace=True)
df

,MSSV,T1,T2,T3,T4,T5,T6,GT,DT,KV,NGONNGU,LOGIC,UNGXU,KT,NGAYTHI,HUONGNGHIEP
0,SV001,7.2,8.4,7.4,7.2,7.4,6.9,F,NaN,2NT,3.25,3.25,4.50,A1,12/7/2018,No
1,SV002,5.4,6.3,4.3,4.9,3.0,4.0,M,NaN,1,6.00,4.00,3.50,C,12/7/2018,Yes
2,SV003,5.6,5.0,2.8,6.1,4.8,5.7,M,NaN,1,5.00,6.75,4.00,C,12/7/2018,No
3,SV004,6.6,5.1,5.9,4.1,6.1,7.4,M,NaN,1,4.25,4.25,5.25,D1,12/7/2018,No
4,SV005,6.0,5.4,7.6,4.4,6.8,8.0,M,NaN,2NT,4.25,4.50,5.00,A,12/7/2018,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,SV0096,8.6,8.9,7.7,6.7,7.9,6.6,F,NaN,1,5.25,1.50,6.25,C,7/20/2022,Yes
96,SV0097,3.7,4.1,3.1,3.4,5.5,5.7,F,NaN,1,5.25,3.75,4.75,C,7/20/2022,No
97,SV0098,8.8,9.5,9.5,8.5,9.0,8.5,M,NaN,2NT,7.00,8.00,4.00,C,7/20/2022,Yes
98,SV0099,2.7,2.8,6.2,5.2,4.1,4.3,M,NaN,1,5.00,3.50,5.50,C,7/20/2022,No
99,SV00100,4.1,4.4,6.0,4.3,5.6,5.1,M,NaN,2NT,5.25,2.50,4.25,C,7/20/2022,Yes

In [18]:
# khi n < 30 thì dùng: One-sample T-test or Two-sample T-test
# Khi n >= 30 thì dùng: One-sample Z-test or Two-sample Z-test

In [19]:
# ONE SAMPLE T-TEST
# Mục đích: Kiểm định trung bình của một biến số (định lượng) có bằng một giá trị
# Ho: mean = x
# Câu 1: Hãy kiểm tra xem LOGIC thí sinh khối C có bằng 4.0
dfKhoiC = df.loc[df['KT'] == 'C']
dfKhoiC['LOGIC']
dfKhoiC['LOGIC'].describe()

count    14.000000
mean      4.232143
std       1.947544
min       1.500000
25%       2.750000
50%       3.875000
75%       5.187500
max       8.000000
Name: LOGIC, dtype: float64

In [20]:
import scipy.stats as stats
# Với one sample T-test thì giả thiết Ho(H_0): muy(mean) = 4.0
# Mặc định mức tin cậy là 95% và mức sai lầm là 5%
stats.ttest_1samp(dfKhoiC['LOGIC'], popmean=4.0)
# Dựa trên dữ liệu của 14 người thi khối C ta đủ dữ kiện 
# để kết luận rằng trung bình của môn thi logic xấp xỉ là 4 với độ tin cây 95%(hay mức sai lầm là 5%)

TtestResult(statistic=0.44599723713991907, pvalue=0.6629370899710998, df=13)

In [21]:
# TWO SAMPLE T-TEST
# Mục đích: Kiểm tra xem trung bình của 2 biến số (định lượng) có bằng nhau không
# Ho: delta_mean = 0
# Hãy kiểm tra xem trung bình điểm thi LOGIC và
# trung bình điểm thi UNGXU của thí sinh thi khối C có bằng nhau không?
# Ho: mean_LOGIC - mean_UNGXU = 0
dfKhoiC = df.loc[df['KT'] == 'C']
stats.ttest_ind(dfKhoiC['LOGIC'], dfKhoiC['UNGXU'], equal_var=True)

TtestResult(statistic=-1.0329196014245297, pvalue=0.3111543826061086, df=26.0)

In [22]:
from statsmodels.stats.weightstats import ztest as ztest
# Hãy kiểm tra xem trung bình điểm toán học kì 2 lớp 12 có bằng 8.0
ztest(df['T6'], value=8.0)

# p_value: 6.29e-15 < 0.05 => bác bỏ

(-7.797828845339864, 6.298135014120743e-15)

In [23]:
# Hãy kiểm tra xem điểm trung bình toán học kì 1
# và học kì 2 năm lớp 12 có bằng nhau không
ztest(df['T5'], df['T6'], value=0)

(-1.094138573502891, 0.273894207026412)

In [24]:
# p_value = 0.273 => đủ dữ kiện để nói trung bình điểm hk2 lớp 12 của T5 = T6 với độ tin cậy 95%

In [25]:
# Kiểm tra trung bình LOGIC và UNGXU có bằng nhau không
# với mức tin cậy 95%
ztest(df['LOGIC'], df['UNGXU'], value=0)

(-4.172765180703833, 3.009250404643791e-05)

In [26]:
# p_value = 3.009e-15 < 0.05 => bác bỏ

In [27]:
# Kiểm định tương quan R+pearson nằm [-1, 1]
# suy diễn H_0: r = 0

In [28]:
from scipy.stats import pearsonr
# Câu 5: Kiểm tra xem điểm toán học kì 1 và học kì 2 năm lớp 12 có tương quan không?
pearsonr(df['T5'], df['T6'])

PearsonRResult(statistic=0.7786831657869809, pvalue=1.4846407216273482e-21)

In [29]:
# statistic (tương quan mẫu) or R_pearson = 0.77
#R_pearson < 0.5

# p_value = 1.48e-21 < alpha = 0.05 => bác bỏ 
# kết luận trên tương quan mẫu T5, T6 tương quan thuận và mức độ tương quan rất tốt.
# Suy diễn ra tổng thể ta thấy p_value = 1.48e - 21 < alpha vì vậy bác bỏ H_0 vì vậy T5, T6 có tương quan

In [30]:
# Sinh viên làm tương tự cho T5 và LOGIC có tương quan hay không?
pearsonr(df['T5'], df['LOGIC'])

PearsonRResult(statistic=0.1846466122601273, pvalue=0.06590059130545516)

In [31]:
# R_pearson = 0.184 => trên mẫu thì T5 và Logic thì tương quan thuận nhưng quá thấp

#p_value = 0.065 > alpha => chấp nhận H_0
# Kết luận T5 và Logic không tương quan

In [32]:
# Fisher Test (định trình + định tính)
# H_0: các biến độc lập

In [33]:
import scipy.stats as stats
# Hãy kiểm tra xem có sự phụ thuộc nào giữa việc sinh viên có định hướng nghề nghiệp
# và giới tính khi thí sinh đăng ký dự thi hay không
crosdata = pd.crosstab(df['GT'], [df['HUONGNGHIEP']], rownames=['GT'], colnames=['HUONGNGHIEP'])
crosdata

HUONGNGHIEP  No  Yes
GT
F            23   25
M            32   20

In [34]:
odd_ratio, p_value = stats.fisher_exact(crosdata)
print('odd ratio is : ' + str(odd_ratio))
print('p_value is : ' + str(p_value))

odd ratio is : 0.575
p_value is : 0.22763927303454412

In [36]:
# Chi_Square: H_0: các biến độc lập
from scipy.stats import chi2_contingency
# Hãy kiểm tra xem có sự phụ thuộc nào giữa khối thi và khu vực khi đăng ký dự thi hay không
crosdata = pd.crosstab(df['KV'], [df['KT']], rownames=['KV'], colnames=['KT'])
crosdata

KT    A  A1  B  C  D1
KV
1    29   2  8  8  13
2     9   0  0  2   8
2NT  11   4  1  4   1

In [37]:
stat, p, dof, expected = chi2_contingency(crosdata)
 
# interpret p-value
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

p value is 0.02012461887796485
Dependent (reject H0)

In [ ]:
# Kết luận có sự phụ thuộc giữa khu vực và khối thi

In [40]:
# GT và KT có mối quan hệ hay không?
crosdata = pd.crosstab(df['GT'], [df['KT']], rownames=['GT'], colnames=['KT'])
stat, p, dof, expected = chi2_contingency(crosdata)
 
# interpret p-value
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

p value is 0.005044752209452435
Dependent (reject H0)

In [45]:
import statsmodels.api as sm
from statsmodels.formula.api import ols


model = ols('T6 ~ GT', data=df).fit()
aov_table = sm.stats.anova_lm(model, typ=1)
aov_table

            df     sum_sq  mean_sq         F    PR(>F)
GT         1.0    1.55201  1.55201  0.833769  0.363426
Residual  98.0  182.42109  1.86144       NaN       NaN

In [ ]:
# H0 mean(T6) (M) = mean(T6) (F)
# p_value = 0.363 > 0.05 => Aceept H0

In [46]:


# Điểm LOGIC có phụ thuộc vào khu vực hay không

model = ols('T6 ~ KV', data=df).fit()
aov_table = sm.stats.anova_lm(model, typ=1)
aov_table

            df      sum_sq   mean_sq         F    PR(>F)
KV         2.0    6.166769  3.083385  1.682102  0.191362
Residual  97.0  177.806331  1.833055       NaN       NaN

In [47]:

# Điểm UNGXU có phụ thuộc khối thi hay không

model = ols('UNGXU ~ KT', data=df).fit()
aov_table = sm.stats.anova_lm(model, typ=1)
aov_table

            df      sum_sq   mean_sq         F   PR(>F)
KT         4.0    3.967636  0.991909  0.911814  0.46041
Residual  95.0  103.344864  1.087841       NaN      NaN

In [48]:
# Hãy cho biết điểm LOGIC có phụ thuộc vào loại GT trên từng nhóm KV hay không
model = ols('LOGIC ~ GT + KV + GT:KV',data=df).fit()
result = sm.stats.anova_lm(model, type=2)
 
# Print the result
print(result)

            df     sum_sq   mean_sq         F    PR(>F)
GT         1.0   3.998401  3.998401  3.853364  0.052602
KV         2.0   8.561314  4.280657  4.125382  0.019173
GT:KV      2.0   1.149707  0.574854  0.554002  0.576510
Residual  94.0  97.538077  1.037639       NaN       NaN

In [ ]:
# Logic -> GT => p_value = 0.052 => Accept => không phụ thuộc
# Logic -> KV => p_value = 0.019 => Reject => có phụ thuộc
# Logic -> GT&KV => p_value = 0.57 => Accept => Không phục thuộc (Xét trên từng nhóm nhỏ)

In [49]:
#Phân tích xem NGONNGU có phụ thuộc trên nhóm KV theo từng loại KT hay không
model = ols('NGONNGU ~ KV + KT + KV:KT',data=df).fit()
result = sm.stats.anova_lm(model, type=2)
 
# Print the result
print(result)

            df      sum_sq    mean_sq          F        PR(>F)
KV         2.0    4.237274   2.118637   1.416009  2.482173e-01
KT         4.0   65.431143  16.357786  10.932867  3.150065e-07
KV:KT      8.0    1.486487   0.185811   0.124188  9.981082e-01
Residual  87.0  130.169640   1.496203        NaN           NaN

In [ ]:
# NGONNGU -> KV => p_value = 2.48e-1 > 0.05 => Reject => phụ thuộc

In [ ]:
# PHÂN TÍCH HỒI QUY
# Mục đích: Phân tích sự ảnh hưởng (tác động) giữa các biến số (định lượng)
# Giả định: sử dụng hàm hồi quy tuyến tình: Y = A0 + A1 * X1 + ... + An * Xn + E
# ví dụ :Hãy phân tích sự tác dộng giữa điểm T5 với T6
# y =f(x) => T6 = f(T5) trong đó T6 được gọi là biến phụ thuộc và T5 là biến độc lập or biến giải thích
# => T6 = A0 + A1 * T5 + E trong đó A0: Interception; A1: Cofficient; E: phần dư

In [50]:
# Hãy cho biết sự ảnh hưởng của điểm học kì 1 năm lớp 12 đến điểm học kì 2 năm lớp 12


import statsmodels.api as sm


#adding a constant
X_with_constant = sm.add_constant(df[["T5"]].values)


y = df[['T6']].values


#performing the regression
result = sm.OLS(y, X_with_constant).fit()


# Result of statsmodels
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.606
Model:                            OLS   Adj. R-squared:                  0.602
Method:                 Least Squares   F-statistic:                     151.0
Date:                Sat, 09 Sep 2023   Prob (F-statistic):           1.48e-21
Time:                        08:23:14   Log-Likelihood:                -125.76
No. Observations:                 100   AIC:                             255.5
Df Residuals:                      98   BIC:                             260.7
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.1130      0.402      5.257      0.000       1.315       2.911
x1             0.7182      0.058     12.286      0.000       0.602       0.834
==============================================================================
Omnibus:                        1.387   Durbin-Watson:                   1.738
Prob(Omnibus):                  0.500   Jarque-Bera (JB):                0.860
Skew:                          -0.104   Prob(JB):                        0.650
Kurtosis:                       3.404   Cond. No.                         32.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
# Trong bảng giá trị
# Model : machine Learning OLS
# R-squared: 0.606 cho biết 60% sự thay đổi của biến T6 dựa trên T5 (Có nghĩa là hiểu được 60 % của T6 dựa vào T5)
#  Prob (F-statistic): 1.48e-21(1.48 *10(-21)) < alpha = 0.05 => mô hình này phù hợp
# => T6 = A0 + A1 * T5 + E 
# trong cột coef: const = 2.1130 và x1 = 0.7182 => T6 = 2.113 + 0.7182 * T5
# trong cột P > |t| -> const: 0.000 -> chứng tỏ việc khám phá T6 dựa trên T5 có ý nghĩa
# nếu giá trị T6 được tính từ T5 theo phương trình trên thì ta gọi là giá trị dự báo
# ví dụ : nếu T5 = 7 -> dự báo xem sang hk sau thì T6 = 2.113 + 0.7182 * 7 = 7.14

In [51]:
# Sinh viên tự khám phá sự ảnh hưởng của T6 đến điểm thi LOGIC


#adding a constant
X_with_constant = sm.add_constant(df[["LOGIC"]].values)


y = df[['T6']].values


#performing the regression
result = sm.OLS(y, X_with_constant).fit()


# Result of statsmodels
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.091
Model:                            OLS   Adj. R-squared:                  0.082
Method:                 Least Squares   F-statistic:                     9.798
Date:                Sat, 09 Sep 2023   Prob (F-statistic):            0.00230
Time:                        08:37:34   Log-Likelihood:                -167.61
No. Observations:                 100   AIC:                             339.2
Df Residuals:                      98   BIC:                             344.4
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          5.2873      0.543      9.738      0.000       4.210       6.365
x1             0.3877      0.124      3.130      0.002       0.142       0.634
==============================================================================
Omnibus:                        3.433   Durbin-Watson:                   1.792
Prob(Omnibus):                  0.180   Jarque-Bera (JB):                3.392
Skew:                          -0.441   Prob(JB):                        0.183
Kurtosis:                       2.810   Cond. No.                         19.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
# Dựa vào bảng điểm Logic ảnh hưởng đến T6 chỉ có 9.1% => điều này quá thấp dẫn đến độ tin cậy thấp
# T6 = 5.2873 + 0.3877*LOGIC

In [ ]:
# Hãy phân tích sự ảnh hưởng của điểm toán học kì 1,2 năm lớp 12 đến điểm LOGIC
# Cho biết nếu T5 = 6.0 và T6 = 5.5 thì dự đoán học sinh đi thi sẽ được điểm LOGIC là nhiêu

In [55]:
# Hãy phân tích sự ảnh hưởng của điểm toán học kì 1,2 năm lớp 12 đến điểm LOGIC
#adding a constant
X_with_constant = sm.add_constant(df[["T5", 'T6']].values)


y = df[['LOGIC']].values


#performing the regression
result = sm.OLS(y, X_with_constant).fit()


# Result of statsmodels
print(result.summary())

# Cho biết nếu T5 = 6.0 và T6 = 5.5 thì dự đoán học sinh đi thi sẽ được điểm LOGIC là nhiêu

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.097
Model:                            OLS   Adj. R-squared:                  0.079
Method:                 Least Squares   F-statistic:                     5.226
Date:                Sat, 09 Sep 2023   Prob (F-statistic):            0.00699
Time:                        08:47:24   Log-Likelihood:                -142.11
No. Observations:                 100   AIC:                             290.2
Df Residuals:                      97   BIC:                             298.0
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.7072      0.539      5.026      0.000       1.638       3.776
x1            -0.0913      0.110     -0.828      0.410      -0.310       0.128
x2             0.3115      0.120      2.606      0.011       0.074       0.549
==============================================================================
Omnibus:                       14.098   Durbin-Watson:                   2.005
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               17.272
Skew:                           0.745   Prob(JB):                     0.000178
Kurtosis:                       4.387   Cond. No.                         52.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.